
	#topHeader {
		position: relative;
		width: 100%;
		color: #999999;
		background-color: #323536; 
		line-height: 48px;
		float: left;
		margin: 0;
	}
	#topHeader p{
		font-size: 11px;
		line-height: 46px;
		margin: 0 150px;
		text-align: left;
		color: #999;
	}

	#header {
		background-color: #292B2C;
		padding: 43.75px 0 25px 0;
		position: relative;
		clear: both; 
	}

	#header p {
		text-align: center;
	}

	#header p img{
		margin-bottom: 21px;
	}

	#header ul {
		margin: 0;
		padding: 0;
		line-height: 30px;
		background-color: #292B2C; 
		text-align: center;
		overflow: hidden;		
	}

	#header ul li{
		list-style-type: none;
		padding: 0 20px;
		display: inline-block;
	}		

	#header ul li a{
		font-family: "Montserrat", serif; 
		color: #ffffff;
		text-decoration: none;
		letter-spacing: 1px;
		font-size: 12px;
	}

	#header ul li a:hover{
		color: #c19c78;
		padding-bottom: 7px;
		border-bottom: 1px solid #c19c78;
	}

