/*반응형 웹*/
@media screen and (max-width:768px) {
  /*바뀔 내용*/
}

@font-face{
	font-family:"montserrat";
	src:url('/fonts/montserrat.otf');
	/*폰트 로딩 에러남, 콘솔확인*/
	src:url('/fonts/lola.ttf');
}

/*여기 import 해줘야함? 안해도 될듯?*/
@import url ('reset.css');
@import url ('header.css');
@import url ('footer.css');

#wrapper {
	margin: 84px 150px;
	margin-top: 84px;
}

/*사이드 시작*/
#side {
	width: 285px;
	padding-right: 40px;
	overflow: hidden;
	float: left;
}

.newsletter {
	line-height: 1.7;
	margin-bottom: 50px;
}

.newsletter h2, .recent-post h2 {
	font-size: 0.75rem;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 2.5em;
    padding: .65em 0;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.newsletter p {
	width: 100%;
	font-size: 0.8125rem;
    font-style: italic;
    margin: 0 0 1.5em;
    font-family: 'lola', serif;
}

/*width를 %로 줬을 때 이상함, 기준이 부모로 안잡힘, 왜?*/
.newsletter p input {
	padding: 7px 20px;
	border: 3px solid #ebebeb;
    font-size: 0.875rem;
    color: #242424;
    font-family: "Lora",serif;
    line-height: 1.7;
    width: 90px;
	display: inline;
}

.newsletter .first-name input {
	float: left;
}

.newsletter .last-name input {
 	float: right;
}

/*이 부분 p태그랑 input태그의 영역이 다름, 왜? 우째같게함?*/
.newsletter .email-address input{
	width: 239px;
	margin-top: 19.5px;
}

.newsletter a {
	padding: 12px 35px;
    font-size: 0.6875rem;
    background: #c19c78;
    border-radius: 120px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    color: #fff;
    line-height: 1.7;
    display: inline-block;
}

.newsletter a:hover {
	background-color: #ebebeb;
	color: #292b2c;
}

.recent-post ul li {
 	margin-bottom: 15px;
    line-height: 1.7;
}

.recent-post ul li a {
	color: #c19c78;
	font-style: italic;
	font-size: 0.875rem;
    font-family: "Lora",serif;
 }

.recent-post ul li a:hover {
	color: #242424;
}

.recent-post ul li span{
	display: block;
	font-family: "Montserrat", serif;
	font-size: 0.625rem;
}

/*메인 시작*/
#main {
	margin-left: 325px;
	line-height: 1.7;
}

.room-arcv {
	position: relative;
	overflow: hidden;
}

.room-arcv h1 {
	font-size: 1.75em;
    /*border-left: 7px solid #ebebeb;*/
    /*padding-left: .5em;*/
    text-transform: uppercase;
    margin-bottom: 50px;
    font-weight: bold;
    letter-spacing: 1px;
}

.room-arcv ul li {
	width: 30.5%;
	margin: 0 32.5px 21px 0;
	overflow: hidden;
	float: left;
}

/*옆에 이상한 마진 생김*/
.room-arcv ul li img {
	width: 250px;
	height: auto;
	margin-bottom: 20px;
	/*float: left;*/
	/*line-height: 0;*/
	/*font-size: 0;*/
	display: block;
}

.room-arcv h3 {
	width: 250px;
	color: #292b2c;
	font-size: 0.85rem;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.room-arcv span {
    display: block;
    color: #999;
	font-size: 0.75rem;
    font-family: 'lola', serif;
    padding: 0.5em 0;
    margin-bottom: 6px;
}

.room-arcv .room-price {
	display: inline-block;
	font-size: 1.125rem;
	font-weight: bold;
    font-family: 'montserrat', serif;
    color: #292b2c;
    border-bottom: 2px solid #c19c78;
    padding-bottom: 0;
    margin-bottom: 0;
    letter-spacing: -1px;
    line-height: normal;
}

.room-arcv .view-room-details {
	display: inline-block;
	letter-spacing: 1px;
	font-size: 0.688rem;
	font-weight: bold;
	line-height: 1.7;
	padding: 2px 15px;
	border: 1px solid #c19c78;
	border-radius: 24px;
	color: #c19c78;
}

.room-arcv .view-room-details:hover {
	background-color: #c19c78;
	color: #fff;
}

.room-arcv .third-room {
	margin-right: 0;
	/*float: right;*/
}

/*more 클릭하면 show*/
.room-arcv .room-hide {
	display: none;
}


.more span{
	width: 90px;
	display: inline-block;
	letter-spacing: 2px;
	font-size: 0.6875rem;
	/*font-weight: bold;*/
	line-height: 1.7;
	padding: 12px 35px;
	border-radius: 24px;
	background-color: #c19c78;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

.more span:hover {
	background-color: #ebebeb;
	color: #292b2c;
	font-weight: bold;
}










