/*반응형 웹*/
@media screen and (max-width:768px) {
  /*바뀔 내용*/
}

@font-face{
	font-family:"montserrat";
	src:url('/fonts/montserrat.otf');
	/*폰트 로딩 에러남, 콘솔확인*/
	src:url('/fonts/lola.ttf');
}

/*여기 import 해줘야함? 안해도 될듯?*/
@import url ('reset.css');
@import url ('header.css');
@import url ('footer.css');


#wrapper {
	margin: 84px 150px;
	margin-top: 84px;

}

#main {
	overflow: hidden;
}

#main h1 {
	font-size: 1.75rem;
    margin-bottom: 2rem;
    clear: both;
    color: #292b2c;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.1;
    margin: 0 0 1.2em 0;
}

#main img {
	width: 48%;
	margin-right: 3%;
	display: inline-block;
	margin-bottom: 2.857em;
	vertical-align: top;
}

/*display inline-block인데 왜 오른쪽으로 안붙지?*/
.contact {
	width: 48%;
	display: inline-block;
	/*margin-left: 52%;*/
	margin-bottom: 2.857em;
}

.contact div > * {
	clear: both;
}

/*==ask==*/
.contact .ask {
	padding-bottom: 2.857em;
}

.contact .ask h5, .contact .email h5 {
	font-size: 1rem;
    clear: both;
    color: #292b2c;
    font-family: "Montserrat",sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.1;
    margin: 0 0 1.2em 0;
}

.contact .ask > p, .contact .email > p {
	font-size: 0.875rem;
	font-family: "Lora", serif;
	color: #242424;
	line-height: 1.7;
	font-style: italic;
	margin: 0 0 1.5em;
}

.contact .que-title {
    color: #c19c78;
    cursor: pointer;
    font-size: 0.8125rem;
    letter-spacing: 1px;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.contact .que-title:before {
	content: '\f147';
	margin-right: 1em;
}

.contact .que-title:hover {
	color: #292b2c;
}

.contact .que-title > div.que-answer {
	display: none;
	background-color: #f5f5f5;
    border-radius: 10px;
    margin: 1.5em 0;
    padding: 1.5em 2em;
    font-family: 'montserrat', serif;
}

.contact .que-answer > p {
	font-size: 0.8125rem;
	margin: 0 0 1.5em;
	font-family: "Lora", serif;
	color: #242424;
	line-height: 1.7;
}

.contact .que-answer > p:last-child {
	margin-bottom: 0;
}

/*==email==*/
.email p label {
	display: none;
}

.email p {
    margin: 0 0 1.5em;
}

/*p랑 input 무슨 관계임?*/
/*width 100%의 기준은 어디? 왜 48%길이로 안되고 더 튀어나감?*/
.email p input, .email p textarea {
	width: 90%;
	padding: 7px 20px;
	border: 3px solid #ebebeb;
	font-size: 0.875rem;
    color: #242424;
    font-family: "Lora",serif;
    line-height: 1.7;
}

.email a {
	background-color: #c19c78;
    color: #ffffff;
    font-size: 0.6875rem;
    padding: 12px 35px;
    line-height: 1.7;
    border-radius: 22px;
    letter-spacing: 2px;
    display: inline-block;
}

.email a:hover {
    background-color: #ebebeb;
    color: #292b2c;
    font-weight: bold;
}




