/*반응형 웹*/
@media screen and (max-width:768px) {
  /*바뀔 내용*/
}

@font-face{
	font-family:"montserrat";
	src:url('/fonts/montserrat.otf');
	/*폰트 로딩 에러남, 콘솔확인*/
	src:url('/fonts/lola.ttf');
}

/*여기 import 해줘야함? 안해도 될듯?*/
@import url ('reset.css');
@import url ('header.css');
@import url ('footer.css');

#visual {
	position: relative;
	overflow-x: hidden;
	margin-bottom: 8em;
}

/*.slider-img {
	width: 3600px;
}

.slider-img img {
	width: 720px;
	height: auto;
	float: left;
}

.slider-index {
	position: absolute;
	left: 50%;
	bottom: 2em;
	margin-left: -63px;
}

.slider-index ul li {
	float: left;
	width: 11px;
	height: 11px;
	background-color: #ebebeb;
	border-radius: 100%;
	margin: 5px 7px;
	text-indent: -999%;
}

.slider-index ul li:hover{
	background-color: #c19c78;
}*/

#visual .slider{
	position: relative;
	width: 100%;
	overflow: hidden;
}

/*세모 border로 우째 만듦?*/
.slider .imgWrapper {
	/*position: absolute;
	width: 4890px;
	left:-476px;
	transform: translate3d(-360px, 0px, 0px);*/
	transition: 0.5s;
}

.imgWrapper a {
	float: left;
	width: 952px;
}

.imgWrapper img {
	width: 100%;
}

.imgWrapper img:hover {
	-webkit-filter: grayscale(100%); 
}

.sliderDot {
	position: absolute;
	left: 50%;
	margin-left: -60px;
	bottom: 0px;
}

.sliderDot ol li {
	width: 10px;
	height: 10px;
	border: 1px solid #e6e6e6;
	background-color: #e6e6e6;
	border-radius: 100%;
	text-indent: -999%;
	float: left;
	margin: 20px 6px;
}

.sliderDot ol li:hover, 
.sliderDot ol li.active {
	border: 1px solid #c19c78;
	background-color: #c19c78;
}

#wrapper {
	margin: 84px 150px;
	margin-top: 84px;
}

/*메인 시작*/
.intro {
	position: relative;
}

/*자기 자신에 text-align 줘도 되는데??*/
.intro h1 {
	font-size: 1.75rem;
	color: #292b2c;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.1;
    margin-bottom: 1.2em;
    text-align: center;
}

.intro p {
	width: 800px;
	margin: 0 15% 2.857em 15%;
	font-family: 'lola', serif;
	font-size: 0.875rem;
	color: #242424;
	line-height: 1.7;
}

.intro .hotel-name {
	font-style: italic;
	font-weight: bold;
}

.intro img {
	display: block;
	margin: 0 auto;
}

.intro .chef-dscr {
	width: 250px;
	color: #999;
    font-style: italic;
    padding: 0.8075em 0;
    display: block;
    margin: 0 auto;
	text-align: center;
	font-family: 'lola', serif;
	font-size: 0.875rem;
	line-height: 1.7;
}

.separator {
	position: relative;
}

/*after가 안붙는다*/
.separator::after {
	width: 400px;
	border: 1px solid #ebebeb;
	margin: 1.5em 0 5.714em 0;
}

/*여기도 after 안붙었음*/
.separator .wider {
	width: 570px;
}

.img-gallary {
	width: 100%;
}

.img-gallary img {
	position: relative;

	width: 33.3%;
	float: left;
	display: inline-block;
	margin-bottom: 2.857em;
}

/*margin 값 3개만 쓰는건 규칙 어떻게 됨?*/
/*p태그 영역 이상하게 잡힘, 왜?*/
/*font-weight bold 안먹힘*/
.img-gallary p {
    clear: both;
	margin: 0 20% 2.1em 20%;
	text-align: center;
	font-size: 1.125rem;
    color: #292b2c;
    font-weight: 700;
    font-family: "lola", serif;
    font-weight: bold;
    line-height: 1.7;
    letter-spacing: 0.5px;
}

.img-gallary .contemporary {
	font-style: italic;
}

.menu-list {
	margin: 0 15%;
}

.menu-list .appet, .menu-list .entre, .menu-list .meat {
	position: relative;
	padding: 1.5em 2.5em;
	background-color: #f7f7f7;
	margin-bottom: 40px;
}

.menu-list div h3 {
	font-size: 0.875rem;
    border-bottom: 2px solid #c19c78;
    display: inline-block;
    padding-bottom: .2em;
    padding-top: 1em;
    text-transform: uppercase;
    color: #292b2c;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.1;
    margin: 0 0 1.2em 0;
}

.menu-list ul li {
	position: relative;
	border-top: 2px dashed #ebebeb;
	padding: 1.2em 0;
	line-height: 1.7;
}

.menu-list ul li:first-child {
	border: none;
}

.menu-list .dish-name {
	padding-right: 4.688em;
	font-size: 1rem;
    display: block;
    font-weight: bold;
	letter-spacing: 1px;
	font-family: 'lola', serif;
}

.menu-list .dish-discription {
	padding-right: 5.769em;
	font-size: 0.8125rem;
    color: #999;
    display: block;
    font-family: 'lola', serif;
}

.menu-list .dish-price {
	position: absolute;
	right: 0;
	top: 1.2em;
	font-weight: bold;
	font-size: 0.938rem;
    letter-spacing: -1px;
	vertical-align: baseline;
}
























